html {
    scroll-behavior: smooth;
}

#landingpage{
    width: 100vw;
    height: 100vh;
    background-image: url("chess.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top;
    font-size: 5em;
    font-family: "Neuzeit Grotesk";
    font-weight: bolder;
    color: white;
    padding: 1em;
}

  a { 
    color: inherit; 
    text-decoration: none;
    display: contents;
} 


.articles{
    border-style: solid;
    border-width: 0em;
    transition: ease-in-out .5s;
    border-color: #00305E;
}

.articles:hover{
    border-style: solid;
    border-width: 1em;
    border-color: #00305E;
    transition: ease-in-out .5s;
}

b{
    font-weight:900;
}

body{
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #00305E;
}

#mycarousel {
    width: 100%;
    display: flex;
    height: 100vh;
    position: relative;
}


nav{
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: 5em;
    position: absolute;
    z-index: 11;
}

ul{
    padding: 0;
    margin:0;
    margin-right: 5em;
    position: absolute;
    display: inline-flex;
    right: 0;
}
    
h1{
    font-family: "Neuzeit Grotesk";
    font-weight: bold;
    color: white;
    font-size: 1em;
    border-bottom: white;
    border-bottom-style: solid;
    border-width: 1px;
    margin-left: 1em;
    margin-right:1em;
    margin-block-start: 0;
    margin-block-end: 0;
}

h1 :hover{
    text-decoration: none;
    color: #00305E;

}

.grid-container{
    display: grid;
    position: relative;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 10em 10em 8em;
    grid-gap:3em;
    width: auto;
    justify-items: center;
    margin: 5em;
    padding: 2em;
    border-style: solid;
    border-color: white;
    border-width: 1px;
}

.grid-container2{
    display: grid;
    position: relative;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    width: auto;
    margin-top: 15em;
    padding: 2em;
    background-color: white;
}

.grid-containerprimary{

    display: grid;
    position: relative;
    grid-template-columns: 2em auto;
    grid-template-rows: auto auto 5em auto auto 5em auto auto 5em;
    grid-gap:3em;
    width: 90%;
    top: 8em;
    justify-items: left;
    margin: auto;
    padding: 2em;
}

.grid-industries{

    display: grid;
    position: relative;
    grid-template-columns: 2em auto;
    grid-template-rows: 
    auto auto 5em auto auto 5em 
    auto 5em auto 5em auto 5em auto 5em auto 5em 
    auto 5em auto 5em auto 5em auto 5em auto 5em 
    auto 5em auto 5em auto 5em;
    grid-gap:3em;
    width: 90%;
    top: 8em;
    justify-items: left;
    margin: auto;
    padding: 2em;
}

.iconbox{
    width: 15em;
    height: 15em;
    background-color: white;
    position: relative;
    display: table;
    margin-right: 4em;
    box-shadow: 5px 5px 20px black;
}

span{
    font-family: "Neuzeit Grotesk";
    font-weight: bold;
    color: #00305E;
    font-size: 1.5em;
    left: .5em;
    top: .5em;
    position: relative;
}

pre{
    height: 1em;
}

h2{
    font-family: "Neuzeit Grotesk";
    font-weight: bold;
    color: white;
    font-size: 2em;
}

h3{
    font-family: "Neuzeit Grotesk";
    font-weight: bold;
    color: white;
    font-size: 1.5em;
    align-self: center;
    text-align: center;
}

h4{
    font-family: "Neuzeit Grotesk";
    font-weight: bold;
    color: #00305E;
    font-size: 1.5em;
    align-self: center;
    text-align: center;
}

p1{
    font-family: "Neuzeit Grotesk";
    color: white;
    font-size: 1.2em;
    font-weight: lighter;
    position: relative;
    align-self: center;
    text-align: center;
}

p2{
    font-family: "Neuzeit Grotesk";
    color: #00305E;
    font-size: 1em;
    font-weight: lighter;
    position: relative;
    text-align: left;
    padding-left: 25%;
    padding-right: 25%;
}

p3{
    font-family: "Neuzeit Grotesk";
    color: #00305E;
    font-size: 1.2em;
    font-weight: lighter;
    position: relative;
    text-align: left;
    padding-right: 2em;
}

button{
    position: absolute;
    font-family: "Neuzeit Grotesk";
    font-weight: bold;
    color: #00305E;
    font-size: 1.2em;
    width: 8em;
    height: 2em;
    border: none;
    bottom: 0;
    margin: 2em;
}

button:not(.collapsible, .pin1, .pin2, .pin3, .pin4, .pin5, .pin6, .pin7, .pin8, .pin9, .btn-default):hover{
    position: absolute;
    font-family: "Neuzeit Grotesk";
    font-weight: bold;
    color: white;
    background-color: #00305E;
    font-size: 1.2em;
    width: 8em;
    height: 2em;
    border: none;
    bottom: 0;
    margin: 2em;
    text-decoration: none;
}

#links{
    width: 90%;
    margin: auto;

}

.collapsible {
    position: relative;
    background-color: white;
    color: #00305E;
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
    font-size: 2em;
    width: 100%;
    margin: 0;
    transition: ease-in-out 1s;
  }

  .collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 1em;
    color: #00305E;
    float: right;
  }
  
  .active:after {
    content: "\2796";
    color: #00305E; /* Unicode character for "minus" sign (-) */
  }
  
  .content {
    padding: 0;
    background-color: #00305E;
    border: 1px solid white;
    max-height: 0;
    padding-left: 2em;
    padding-right:2em;
    overflow: hidden;
    transition: all 1s ease-in-out;
  }

  .vl{
    border-left: .1em solid white;
    height: 100%;
    position: absolute;
  }

  .link {
    position: relative;
    width: 100%;
  }
  
  .link::after {
    content: "";
    width: 1em;
    height: 1em;
    background: #fff;
    position: absolute;
    border-radius: 10px;
    left: -.5em;
  }

  .link:hover::after {
    background: black;
  }

  .countrylist{
      font-size: 1em;
      color: white;
      font-family: "Neuzeit Grotesk";
      font-weight: bold;
      position: relative;
      align-self: center;
      margin-right: 4em;
  }

  .marker {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
}

.pin1 {
    width: 1em;
    height: 1em;
    position: absolute;
    top: 38%;
    left: 50%;
    background:white;
    border: 2px solid #FFF;
    border-radius: 50%;
    z-index: 1000;
}

.pin-effect1 {
    width: 7.5em;
    height: 7.5em;
    position: absolute;
    top: 37%;
    left: 49%;
    background: white;
    border-radius: 50%;
    opacity: 0;
    animation: pulsate 2400ms ease-out infinite;
}

.pin2 {
    width: 1em;
    height: 1em;
    position: absolute;
    top: 35%;
    left: 10%;
    background:white;
    border: 2px solid #FFF;
    border-radius: 50%;
    z-index: 1000;
}

.pin-effect2 {
    width: 7.5em;
    height: 7.5em;
    position: absolute;
    top: 34%;
    left: 9%;
    background: white;
    border-radius: 50%;
    opacity: 0;
    animation: pulsate 2400ms ease-out infinite;
}

.pin3 {
    width: 1em;
    height: 1em;
    position: absolute;
    top: 39%;
    left: 23%;
    background:white;
    border: 2px solid #FFF;
    border-radius: 50%;
    z-index: 1000;
}

.pin-effect3 {
    width: 7.5em;
    height: 7.5em;
    position: absolute;
    top: 38%;
    left: 22%;
    background: white;
    border-radius: 50%;
    opacity: 0;
    animation: pulsate 2400ms ease-out infinite;
}

.pin4 {
    width: 1em;
    height: 1em;
    position: absolute;
    top: 45%;
    left: 23%;
    background:white;
    border: 2px solid #FFF;
    border-radius: 50%;
    z-index: 1000;
}

.pin-effect4 {
    width: 7.5em;
    height: 7.5em;
    position: absolute;
    top: 44%;
    left: 22%;
    background: white;
    border-radius: 50%;
    opacity: 0;
    animation: pulsate 2400ms ease-out infinite;
}

.pin5 {
    width: 1em;
    height: 1em;
    position: absolute;
    top: 30%;
    left: 42%;
    background:white;
    border: 2px solid #FFF;
    border-radius: 50%;
    z-index: 1000;
}

.pin-effect5 {
    width: 7.5em;
    height: 7.5em;
    position: absolute;
    top: 29%;
    left: 41%;
    background: white;
    border-radius: 50%;
    opacity: 0;
    animation: pulsate 2400ms ease-out infinite;
}

.pin6 {
    width: 1em;
    height: 1em;
    position: absolute;
    top: 37%;
    left: 46%;
    background:white;
    border: 2px solid #FFF;
    border-radius: 50%;
    z-index: 1000;
}

.pin-effect6 {
    width: 7.5em;
    height: 7.5em;
    position: absolute;
    top: 36%;
    left: 45%;
    background: white;
    border-radius: 50%;
    opacity: 0;
    animation: pulsate 2400ms ease-out infinite;
}

.pin7 {
    width: 1em;
    height: 1em;
    position: absolute;
    top: 44%;
    left: 59%;
    background:white;
    border: 2px solid #FFF;
    border-radius: 50%;
    z-index: 1000;
}

.pin-effect7 {
    width: 7.5em;
    height: 7.5em;
    position: absolute;
    top: 43%;
    left: 58%;
    background: white;
    border-radius: 50%;
    opacity: 0;
    animation: pulsate 2400ms ease-out infinite;
}

.pin8 {
    width: 1em;
    height: 1em;
    position: absolute;
    top: 71%;
    left: 84%;
    background:white;
    border: 2px solid #FFF;
    border-radius: 50%;
    z-index: 1000;
}

.pin-effect8 {
    width: 7.5em;
    height: 7.5em;
    position: absolute;
    top: 70%;
    left: 83%;
    background: white;
    border-radius: 50%;
    opacity: 0;
    animation: pulsate 2400ms ease-out infinite;
}

.pin9 {
    width: 1em;
    height: 1em;
    position: absolute;
    top: 40%;
    left: 77%;
    background:white;
    border: 2px solid #FFF;
    border-radius: 50%;
    z-index: 1000;
}

.pin-effect9 {
    width: 7.5em;
    height: 7.5em;
    position: absolute;
    top: 39%;
    left: 76%;
    background: white;
    border-radius: 50%;
    opacity: 0;
    animation: pulsate 2400ms ease-out infinite;
}

@keyframes pulsate {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

iframe {
    width: 100%;
    border: none;
}