html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    background-color: #00305E;
  }

.grid-container{

    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
    
}
    
h1{

    grid-column: 1;
    font-family: "Avenir Next";
    color: #B30122;
    font-size: 5em;
    text-transform: uppercase;
    position: relative;
    align-self: center;
    left: 2em;
    letter-spacing: 2px;

}

h2{

    font-family: "Avenir Next";
    color: #B30122;
    font-size: 2em;
    position: relative;
    align-self: end;
    text-align: left;
    grid-row: 1;
    grid-column: 2;

}

p1{

    font-family: "Avenir Next";
    color: #B30122;
    font-size: 1.5em;
    font-weight: normal;
    position: relative;
    align-self: center;
    text-align: left;
    grid-row: 2;
    grid-column: 2;

}